@model Vidly.ViewModels.RandomMovieViewModel
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*ova e komentar *@
@{ 
    var className = Model.Customers.Count > 1 ? "popular" : null;
}
<h2 class="@className">@Model.Movie.Name</h2>

@if (Model.Customers.Count == 0){
    <h2>No one has rented this movie before.</h2>
}
else
{ 
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li><h4>@customer.Name</h4></li>
        }
    </ul>   
}

